# Virtual environment
venv/
ENV/
venv/

__pycache__/
*.pyc
db.sqlite3
# Python cache
__pycache__/
*.py[cod]
*.pyo

# Database
*.sqlite3

# Django specific
/media
/staticfiles
/static

# IDE
.vscode/
.idea/
*.log
